<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
    <title>Pokretna traka</title>
</head>
<body>
    <div class="wrapper">
        <div class="settings">
            <span id="counterAll">Ukupan broj <br><span id="largeNum">{{dataAll}}</span></span>
            <div class="sortingSettings">
                <button type="button">Boje i oblik</button>
                <button type="button">Model</button>
                <form action = "/success" method = "post" enctype="multipart/form-data">   
                    <input type="file" name="file"/>
                    <input type="submit" value="Upload"/>   
                </form> 
            </div>
            <form action="" method="post">
                <input type="submit" value="Submit settings">
            </form>
        </div>
        <div class="conveyor">
            <div class="direction" id="directionLeft">
                <h1>Levo</h1>
                <span class="counter" id="counterLeft">{{data1}}</span>
                <div class="rangeContainer">
                    <span>Boja</span>
                    <section class="range-slider">
                        <span class="rangeValues"></span>
                        <input value="5" min="0" max="360" step="1" type="range" class="slider" onchange="getSides(0)">
                        <input value="10" min="0" max="360" step="1" type="range" class="slider" onchange="getSides(0)">
                    </section>
                </div>
                <div class="shapeContainer">
                    <span>Broj stranica</span>
                    <div class="shapeNumContainer">
                    <input type="range" class="shapeNumber" list="markers1" id="shapeLeft" step="1" min="3" max="6" value="5" onchange="getSides(0)"><!-- nek bude do 6 -->
                        <datalist id="markers1">
                            <option value="0" label="3"></option>
                            <option value="33" label="4"></option>
                            <option value="66" label="5"></option>
                            <option value="100" label="6"></option>
                        </datalist>
                    </div>
                    
                    <div class="imgContainer"><img src="/static/pics/3side.png" class="shapes"><img src="/static/pics/4side.png" class="shapes" ><img src="/static/pics/5side.png" class="shapes"><img src="/static/pics/6side.png" class="shapes"></div>
                </div>
            </div>
            <div class="direction" id="directionStraight">
                <h1>Pravo</h1>
                <span class="counter" id="counterStraight">{{data2}}</span>
                <div class="rangeContainer">
                    <section class="range-slider">
                        <span class="rangeValues"></span>
                        <input value="5" min="0" max="360" step="1" type="range" class="slider" onchange="getSides(1)">
                        <input value="10" min="0" max="360" step="1" type="range" class="slider" onchange="getSides(1)">
                    </section>
                </div>
                <div class="shapeContainer">
                    <span>Broj stranica</span>
                    <div class="shapeNumContainer">
                    <input type="range" class="shapeNumber" list="markers2" id="shapeStraight" step="1" min="3" max="6" value="5" onchange="getSides(1)"><!-- nek bude do 6 -->
                        <datalist id="markers2">
                            <option value="0" label="3"></option>
                            <option value="33" label="4"></option>
                            <option value="66" label="5"></option>
                            <option value="100" label="6"></option>
                        </datalist>
                    </div>
                    <div class="imgContainer"><img src="/static/pics/3side.png" class="shapes" ><img src="/static/pics/4side.png" class="shapes"><img src="/static/pics/5side.png" class="shapes"><img src="/static/pics/6side.png" class="shapes" ></div>
                </div>
            </div>
            <div class="direction" id="directionRight">
                {{data}}
                <h1>Desno</h1>
                <span class="counter" id="counterRight">{{data3}}</span>
                <div class="rangeContainer">
                    <section class="range-slider">
                        <span class="rangeValues"></span>
                        <input value="5" min="0" max="360" step="1" type="range" class="slider" onchange="getSides(2)">
                        <input value="10" min="0" max="360" step="1" type="range" class="slider" onchange="getSides(2)">
                    </section>
                </div>
                <div class="shapeContainer">
                    <span>Broj stranica</span>
                    <div class="shapeNumContainer">
                    <input type="range" class="shapeNumber" list="markers3" id="shapeStraight" step="1" min="3" max="6" value="5" onchange="getSides(2)"><!-- nek bude do 6 -->
                        <datalist id="markers3">
                            <option value="0" label="3"></option>
                            <option value="33" label="4"></option>
                            <option value="66" label="5"></option>
                            <option value="100" label="6"></option>
                        </datalist>
                    </div>
                    <div class="imgContainer"><img src="/static/pics/3side.png" class="shapes" ><img src="/static/pics/4side.png" class="shapes"><img src="/static/pics/5side.png" class="shapes"><img src="/static/pics/6side.png" class="shapes" ></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- <div class="container">
         Double slider(not working as intended)
        <div class="range">
            <div class="range-slider">
                <span class="range-selected"></span>
              </div>
              <div class="range-input">
                <input type="range" class="min" min="0" max="1000" value="300" step="10">
                <input type="range" class="max" min="0" max="1000" value="700" step="10">
            </div>
        </div>
        <section class="range-slider">
            <span class="rangeValues"></span>
            <input value="5" min="0" max="15" step="0.5" type="range" class="slider">
            <input value="10" min="0" max="15" step="0.5" type="range" class="slider">
        </section>
    </div> -->
</body>
</html>