<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/templates/script.js"></script>
    <title>Pokretna traka</title>
</head>
<body>
    <div class="wrapper">
        <div class="settings">
            <span id="counterAll">Ukupan broj <br></broj:br><span id="largeNum">155</span></span>
            <div class="sortingSettings">
                <button type="button">Boje i oblik</button>
                <button type="button">Model</button>
                <form action = "/success" method = "post" enctype="multipart/form-data">   
                    <input type="file" name="file"/>
                    <input type="submit" value="Upload"/>   
                </form> 
            </div>
        </div>
        <div class="conveyor">
            <div class="direction" id="directionLeft">
                <h1>Levo</h1>
                <span class="counter" id="counterLeft">50</span>
                <div class="rangeContainer">
                    <section class="range-slider">
                        <span class="rangeValues"></span>
                        <input value="5" min="0" max="15" step="0.5" type="range" class="slider">
                        <input value="10" min="0" max="15" step="0.5" type="range" class="slider">
                    </section>
                </div>
                <div class="shapeContainer">
                    <span>Broj stranica</span>
                    <input type="range" class="shapeNumber" list="markers1"><!-- nek bude do 6 -->
                    <datalist id="markers1">
                        <option value="0" label="3"></option>
                        <option value="25" label="4"></option>
                        <option value="50" label="5"></option>
                        <option value="75" label="6"></option>
                        <option value="100" label="7"></option>
                    </datalist>
                    <div class="imgContainer"><img src="https://cdn1.iconfinder.com/data/icons/shapes-102/24/_five_side-512.png" alt=""></div>
                </div>
            </div>
            <div class="direction" id="directionStraight">
                <h1>Pravo</h1>
                <span class="counter" id="counterStraight">95</span>
                <div class="rangeContainer">
                    <input type="range" min="0" max="360" name="colorRange" id="colR" class="slider">
                </div>
                <div class="shapeContainer">
                    <span>Broj stranica</span>
                    <input type="range" class="shapeNumber" list="markers2">
                    <datalist id="markers2">
                        <option value="0" label="3"></option>
                        <option value="25" label="4"></option>
                        <option value="50" label="5"></option>
                        <option value="75" label="6"></option>
                        <option value="100" label="7"></option>
                    </datalist>
                    <div class="imgContainer"><img src="https://pluspng.com/img-png/triangle-png-triangle-stroke-png-512.png" alt=""></div>
                </div>
            </div>
            <div class="direction" id="directionRight">
                <h1>Desno</h1>
                <span class="counter" id="counterRight">10</span>
                <div class="rangeContainer">
                    <input type="range" min="0" max="360" name="colorRange" id="colR" class="slider">
                </div>
                <div class="shapeContainer">
                    <span>Broj stranica</span>
                    <input type="range" class="shapeNumber" list="markers3">
                    <datalist id="markers3">
                        <option value="0" label="3"></option>
                        <option value="25" label="4"></option>
                        <option value="50" label="5"></option>
                        <option value="75" label="6"></option>
                        <option value="100" label="7"></option>
                    </datalist>
                    <div class="imgContainer"><img src="https://pngimg.com/uploads/square/square_PNG19.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <!-- Double slider(not working as intended) -->
        <div class="range">
            <div class="range-slider">
                <span class="range-selected"></span>
              </div>
              <div class="range-input">
                <input type="range" class="min" min="0" max="1000" value="300" step="10">
                <input type="range" class="max" min="0" max="1000" value="700" step="10">
            </div>
        </div>
        <section class="range-slider">
            <span class="rangeValues"></span>
            <input value="5" min="0" max="15" step="0.5" type="range" class="slider">
            <input value="10" min="0" max="15" step="0.5" type="range" class="slider">
        </section>
    </div>
</body>
</html>